@model IEnumerable<WKSADB.School>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.WKSAId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.WKSAId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SchoolId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SchoolId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SchoolId })
        </td>
    </tr>
}

</table>
