<hgroup class="title">
    <h1>Admin.</h1>
    <h2>Maintenance of various program settings</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Value Lists:</h3>
    </header>
    <p><span>@Html.ActionLink("Age Groups", "Index", "AgeGroup")</span></p>
    <p><span>@Html.ActionLink("Ranks", "Index", "Rank")</span></p>
    <p><span>@Html.ActionLink("Divisions", "Index", "Division")</span></p>
    <p><span>@Html.ActionLink("Schools", "Index", "School")</span></p>
    <p><span>@Html.ActionLink("Grand Champions", "Index", "GrandChampion")</span></p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>