@model WKSADB.AgeGroup

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AgeGroup</legend>

        @Html.HiddenFor(model => model.AgeGroupId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromAge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromAge)
            @Html.ValidationMessageFor(model => model.FromAge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToAge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToAge)
            @Html.ValidationMessageFor(model => model.ToAge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSparringGroup)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSparringGroup)
            @Html.ValidationMessageFor(model => model.IsSparringGroup)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
