@model WKSADB.School

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>School</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country.CountryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country.CountryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InstructorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InstructorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Student.WKSAId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.WKSAId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
